.slide-1{
    background-image: url(/imagesfin/jsphoto1.jpg);
    background-position: top center;
}

.slide-2{
    background-image: url(/imagesfin/jsphoto2.jpg);
    background-position: top center;
}

.slide-3{
    background-image: url(/imagesfin/jsphoto3.jpg);
    background-position: top center;
}

.slide-4{
    background-image: url(/imagesfin/jsphoto4.jpg);
    background-position: top center;

}

.slide-5{
    background-image: url(/imagesfin/jsphoto5.jpg);
    background-position: top center;

}

.slide-6{
    background-image: url(/imagesfin/jsphoto6.jpg);
    background-position: top center;

}

.slide-7{
    background-image: url(/imagesfin/jsphoto7.jpg);
    background-position: top center;

}
.slide-8{
    background-image: url(/imagesfin/jsphoto8.jpg);
    background-position: top center;

}
.slide-9{
    background-image: url(/images/image6.jpg);
    background-position: top center;

}